.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 7fr);
  gap: 30px;
  padding: 75px;
  height: auto;
}
.grid-item {
  display: flex;
  height: auto;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.grid-item:hover {
  transform: scale(1.1);
}
