@import url("./gap.css");
@import url("gridizdvajanje.css");
body {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-area: header;
}

.separator {
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.buttons {
  display: flex;
  height: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  padding: 4px;
}

.navbar {
  display: flex;
  gap: 1.5rem;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 16px;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
}

.menu > li {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 1.5rem;
  width: 200px;
  flex-direction: column;
  padding: 0;
  border: 1px solid rgb(191, 187, 187);
  border-radius: 4px;
}

.submenu > li {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
}

.submenu > li:hover {
  background-color: #002f34;
  color: white;
  border-radius: 4px;
}

.dropdown:focus + .submenu {
  display: flex;
}

.dropdown {
  background-color: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.primary-button {
  background-color: #002f34;
  color: white;
  border-radius: 4px;
  padding: 1rem 2rem;
  height: 100%;
}

.search {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  flex: 1 0 75%;
  border: 1px solid #002f34;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-height: 53px;
}

.search input {
  border: none;
  flex: 1;
  font-size: 1.25rem;
}

.search input:focus-within {
  outline: none;
}
.buttons > a:hover {
  background-color: #002f34;
  color: white;
  border-radius: 4px;
}
.flex-1 {
  flex: 1 0 auto;
  background-color: rgba(86, 87, 82, 0.87);
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.futer {
  display: flex;
  flex-direction: column;
  background-color: rgba(204, 230, 90, 0.164);
  justify-content: center;
  text-align: center;
}
.futer1 {
  flex-direction: column;

  text-align: center;
  gap: 1rem;
  padding: 24px;
  background-color: rgba(204, 230, 90, 0.164);
}
.futer1 .payment-row a {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 2px solid #111010;
  margin-bottom: 5px;
  background-color: rgba(204, 230, 90, 0.164);
}
